{% extends 'core/base.html' %}
{% block title %}Ve blog{% endblock %}
{% block header %}
    {% for detail in details %}
        <img src="{{ detail.HeaderImage }}" alt="">
    <p>{{ detail.Name }}</p>
    {% endfor %}
{% endblock %}
{% block main %}
    {% for post in posts %}
        <div class="max-w-sm m-3 rounded-lg border-2 border-green-800 p-1  lg:max-w-full lg:flex hover:shadow-xl shadow-lg">
{#          <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('{{ post.image }}')" title="Woman holding a mug">#}
{#          </div>#}
          <div class=" bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
            <div class="mb-8">
              <a class="text-gray-900 font-bold text-xl mb-2 text-green-800" href="/post/{{ post.id }}">{{ post.title }}</a>
              <p class="text-gray-700 text-base">{{ post.description }}</p>
            </div>
            <div class="flex items-center">
              <div class="text-sm">
                <p class="text-gray-900 leading-none">{{ post.created_by }}</p>
                <p class="text-gray-600">{{ post.created_at }}</p>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
{% endblock %}